@import "tailwindcss";

@theme{
  --color-electric-teal: #00e5ff;
  --color-obsidian: #050505;

  --font-sans: "Inter", ui-sans-serif, system-ui;
}

@utility glass {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter:blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
}

@utility glow-text-teal{
  text-shadow: 0 0 15px var(--color-electrical-teal);
}

body{
  background-color: var(--color-obsidian);
  color:#e5e7eb;
  @apply antialiased overflow-x-hidden;
}